.wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}
.textExperience {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main);
}
.listReviewer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.wrapReviewer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}
.item {
  display: flex;
  flex-direction: column;
}
.wrapImg {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 44px;
  height: 44px;
  background-color: var(--button);
}

.name {
  font-weight: 500;
  line-height: 1.5;
  color: #8a8a89;
}

.rating {
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: var(--main);
}
.star {
  color: var(--button);
  flex-shrink: 0;
  margin-right: 8px;
}
