.logoLink {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--main);
  margin-right: 10px;
}
